*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}
html,body{
  width: 100%;
  height: 100%;
  max-width: 100%
  max-height100%;
  overflow: hidden;
  position: absolute;
  paddig:0;
  margin: 0;
}
#world{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
}
#actions-menu{
  display: flex;
  flex-flow: column;
  width:100%;
  height: 100%
}
#controls{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
#descriptive-data-container{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  pointer-events: auto;
  position: relative;
  min-height: 38px;
  padding:0 15px;
  background:white;
  display: flex;
  flex-flow: column;
}
.transition{
  transition: all .6s;
}
#descriptive-data{
  flex:1;
  transition: all .2s;
  width:100%;
  max-height: 100%;
  padding:10px 0px;
  background:white;
}
#descriptive-data:empty{
  max-height: 0px;
  padding: 0px;
}
#slider-helper{
  cursor: pointer;
  width:100%;
  min-height: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  left: 0;
}
#slider{
  height: 8px;
  background: #ccc;
  min-height: 8px;
  border-radius: 8px;
  width:40px;
  margin: 15px auto;
}
.App {
  background:black;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items:center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#logo{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.scan-tip{
  color: white;
  display: flex;
  justify-content: center;
  align-items:center;
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
}
@media screen and (orientation: landscape) {
 .scan-tip{
    width: 100vh;
    height: 100vw;;
  }
}

.scan-tip p {
  position: absolute; 
}